{% extends 'base.html' %}
{% block subtitle %}Dashboard{% endblock %}

<!-- Navbar -->
{% block navbrand %}Welcome <strong>{{current_user.name}}</strong>{% endblock %}


{% block content %}

<!-- Appointments -->
<br>
<div class="m-2">
<h3>Upcoming Appointments</h3>
<div class="table-body">
    <table class="table table-hover mb-0">
        <thead>
            <tr>
              <th>Sr No.</th>
              <th>Date</th>
              <th>Slot</th>
              <th>Patient Name</th>
              <th>Treatment</th>
              <th colspan="4" class="text-center">Actions</th>
            </tr>
        </thead>          
        <tbody>
           {% if appointments %}
            {% for ap in appointments %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ ap.slot.date.strftime('%d/%m/%Y') }}</td>
              <td>{% if ap.slot.time == 'morning' %}8am-12pm{% else %}4pm-9pm{% endif %}</td>
              <td>{{ ap.patient.name }}</td>
              <td>
                <a href="{{ url_for('add_treatment_details', id=ap.id)}}" 
                class="btn btn-outline-primary btn-sm {% if ap.treatment %} disabled {% endif %}">Update</a>
              </td>
              <td class="text-center">
                <form method="POST" action="{{ url_for('mark_appointment', id=ap.id) }}" style="display:inline;">
                  <span title="Make sure you have updated treatment details!">
                    <button
                      class="btn btn-sm {% if ap.treatment %}btn-success{% else %}btn-dark{% endif %}"
                      type="submit"
                      {% if not ap.treatment %}disabled{% endif %}>
                      Mark as Complete
                    </button>
                  </span>
                </form>

                <form method="POST" action="{{ url_for('cancel_appointment', id=ap.id) }}" style="display:inline;">
                  <span title="You can't cancel if you have updated treatment.">
                    <button
                      class="btn btn-danger btn-sm"
                      type="submit"
                      {% if ap.treatment %}disabled{% endif %}>
                      Cancel
                    </button>
                  </span>
                </form>
              </td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="6" class="text-center text-muted">
                You have no upcoming appointments.
              </td>
            </tr>
          {% endif %}
        </tbody>
    </table>
</div>
</div>

<!-- Treatments -->
<br>
<div class="m-2">
<h2>Assigned Patients</h2>
<div class="table-body">
    <table class="table table-hover mb-0">      
        <thead>
            <tr>
              <th>Date</th>
              <th>Patient Name</th>
              <th>Treatment</th>
            </tr>
        </thead>        
        <tbody>
            {% if treatments %}
                {% for tr in treatments %}
                    <tr>
                        <td>{{tr.created_at.strftime('%d/%m/%Y') }}</td>
                        <td>{{tr.appointment.patient.name}}</td>
                        <td>
                          <a href="{{ url_for('patient_history', id=tr.appointment.patient_id)}}" 
                          class="btn btn-outline-primary btn-sm">View history</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" class="text-center text-muted">
                        You haven't done any treatments.
                    </td>
                </tr>
          {% endif %}
        </tbody>
    </table>
</div>
<div>
  <br>
  <a href="{{ url_for('update_availability', user_id=current_user.id) }}" class="btn btn-outline-primary ms-3">Provide Availability</a>
</div>
</div>

{% endblock %}